.container {
  height: 330px;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
}


@media screen and (max-width: 991px) {
  .container {
    height: 200px;
    width: 200px;
  }
}